/*
Style Name:		Active Down Arrow
Version:		1.0
Author:			Shabu Anower
Author URI:		http://www.cssmenustyle.com
*/

.nav {background:#fff float:left; margin: 0 auto; width: auto; padding: 1px 0 0 0; font-size: 0.7em; font-family: Verdana, Arial, Helvetica, sans-serif;}

.nav ul { margin: 0; padding: 0; list-style: none;}
.nav ul li { padding: 0; display: inline; text-align: center; text-indent: -35px;}

.nav ul li a { font-weight:bold; float: left; margin: 0 5px 0 0; color: #000000; padding: 0 0 0 45px; background: url('/menu.gif') no-repeat left 0; text-decoration: none; line-height: 20px;}
.nav ul li a span { padding: 13px 10px 25px 0; background: url('/menu.gif') no-repeat right 0; display: block;}

.nav ul li a:hover { color: #CED8F6; background: url('/menu.gif') no-repeat left -58px;}
.nav ul li a:hover span { background: url('/menu.gif') no-repeat right -58px;}

.nav ul li.active a { background: url('/menu.gif') no-repeat left -116px;}
.nav ul li.active a span { background: url('/menu.gif') no-repeat right -116px;}
.nav ul li.active a:hover { background: url('/menu.gif') no-repeat left -116px;}





.navbuttom1 { float:left; margin-bottom:20px; width: auto;
	      font-family:Arial, Helvetica, sans-serif; font-size:11px; 
	      }

.navbuttom1 ul { margin: 0; padding: 0; list-style: none; }
.navbuttom1 ul li { padding: 0; display: inline;  text-indent: -30px;}

.navbuttom1 ul li a { color: #4669B5;}

.navbuttom1 ul li a span { padding: 5px;  display:inline; }

.navbuttom1 ul li a:hover { color: orange; text-decoration: none}
.navbuttom1 ul li a:hover span { }

.navbuttom1 ul li.active a { }
.navbuttom1 ul li.active a span { }
.navbuttom1 ul li.active a:hover { }